aiofiles
aiohttp
asyncpg>=0.29.0
azure-core
azure-cosmos
azure-identity
azure-search-documents
azure-storage-blob
backoff
certifi
chainlit==2.5.5
click
cryptography
dataclasses-json
fastapi
httpx
Jinja2
msal
msal-extensions
multidict
openai
opentelemetry-api
opentelemetry-sdk
pydantic
pydantic-settings
PyJWT
python-dateutil
python-dotenv
python-multipart
requests
six
starlette
tenacity
tiktoken
typing-extensions
uvicorn
yarl