aiofiles
aiohttp
azure-core
azure-cosmos
azure-identity
azure-storage-blob
backoff
certifi
chainlit==2.5.5
click
cryptography
dataclasses-json
fastapi
httpx
Jinja2
msal
msal-extensions
multidict
opentelemetry-api
opentelemetry-sdk
pydantic
pydantic-settings
PyJWT
python-dateutil
python-dotenv
python-multipart
requests
six
starlette
tenacity
tiktoken
typing-extensions
uvicorn
yarl